modules = ["php-8.2", "web", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["mariadb"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -d display_errors=1 -d error_reporting=E_ALL -d log_errors=1 -d error_log=/dev/stderr -S 0.0.0.0:5000 -t ."
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 41373
externalPort = 3001

[[ports]]
localPort = 46585
externalPort = 3000
